.footer {
  background-color: var(--color-bg2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-block: var(--space-m-l);
  padding-inline: var(--space-s-m);
  @media (max-width: 768px) {
    flex-direction: column;;

  }
}

.footer-container > * {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-12px);}

.footer-logo-and-descript {
  text-align: center;
}

.footer-logo-and-descript img {
  max-width: 200px;
}

.footer_info {

}

.social_container {
  display: flex;
  align-items: center;
  gap: var(--space-12px);
}

.footer_policy_container {
  padding-block: var(--space-xs-s);
  padding-inline: var(--space-s-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--space-24px);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  padding-block: var(--space-m-l);
  }

  background-image: radial-gradient(circle, #000000 2.5px, transparent 2.5px);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 5.5px 5px;
}

/* View Transition block */

.footer {
  view-transition-name: site-footer;
}

:root[data-view-transition] .footer {
  view-transition-name: none;
}