.footer {
  padding-inline: var(--space-s-m);
  background-color: var(--color-bg2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-auto-rows: auto;
  padding-block: var(--space-24px);
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.footer-container > * {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-12px);}

.footer-logo-and-descript {
  text-align: center;
}

.footer-logo-and-descript img {
  max-width: 200px;
}

.footer_info {

}

.social_container {
  display: flex;
  align-items: center;
  gap: var(--space-12px);
}

.footer_policy_container {
  padding-block: var(--space-xs-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--space-24px);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  background-image: radial-gradient(circle, #000000 2.5px, transparent 2.5px);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 5.5px 5px;
}