/* CSS Reset based on Josh W Comeau and Step's own choices. Last edited Aug'25 */
/* Added button {cursor: pointer} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  /* Prevent font size inflation  */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  pointer-events: none;
  -webkit-touch-callout: none;
}

img::after {
  content: "The image didn’t load";
}

/* As per client's request */
img {
  user-select: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: normal;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
}

:where(a),
:where(a):hover,
:where(a):visited,
:where(a):link,
:where(a):active {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}