@font-face {
  font-family: 'Hepta Slab';
  font-style: normal;
  font-display: swap;
  src: url('/app/fonts/HeptaSlab-VF-subset.woff2') format('woff2-variations');
  font-feature-settings: "tnum" 1;
}

@font-face {
    font-family: 'Adjusted Heading Fallback';
    src: local(Verdana);
    size-adjust: 100%;
    ascent-override: 97%;
    descent-override: 27%;
    line-gap-override: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next VF';
  font-style: normal;
  font-display: swap;
  src: url('/app/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2') format('woff2-variations');
  /* font's em-box is weird. Might decide to change completely */
  ascent-override: 90%;
}

@font-face {
    font-family: 'Adjusted Body Fallback';
    src: local(Arial);
    size-adjust: 99%;
    ascent-override: 90%;
    descent-override: normal;
    line-gap-override: 15%;
}

:root {

  /* https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=360&minRatio=1.2&maxFontSize=18&maxWidth=1440&maxRatio=1.333&steps=body-s%2C+body%2C+h6%2C+h5%2C+h4%2C+h3%2C+h2%2C+h1&baseStep=body&prefix=fontsize&useContainerWidth=false&includeFallbacks=false&useRems=true&remValue=16&decimals=2&previewFont=Hepta+Slab&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1280 */
--fontsize-body-s: clamp(0.83rem, 0.02vi + 0.83rem, 0.84rem);
--fontsize-body: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
--fontsize-h6: clamp(1.2rem, 0.44vi + 1.1rem, 1.5rem);
--fontsize-h5: clamp(1.44rem, 0.83vi + 1.25rem, 2rem);
--fontsize-h4: clamp(1.73rem, 1.39vi + 1.42rem, 2.66rem);
--fontsize-h3: clamp(2.07rem, 2.19vi + 1.58rem, 3.55rem);
--fontsize-h2: clamp(2.49rem, 3.33vi + 1.74rem, 4.73rem);
--fontsize-h1: clamp(2.99rem, 4.93vi + 1.88rem, 6.31rem);
}

:where(span) {font-size: var(--fontsize-body-s)}
:where(p)  {font-size: var(--fontsize-body)}
:where(h6) {font-size: var(--fontsize-h6)}
:where(h5) {font-size: var(--fontsize-h5)}
:where(h4) {font-size: var(--fontsize-h4)}
:where(h3) {font-size: var(--fontsize-h3)}
:where(h2) {font-size: var(--fontsize-h2)}
:where(h1) {font-size: var(--fontsize-h1)}

:where(h6, h5, h4, h3, h2, h1) {
  font-family: 'Hepta Slab', 'Adjusted Heading Fallback', serif;
  font-weight: 600;
  color: var(--color-text-strong);
}

:where(p, ul, ol, li, a, th, td, summary, details,
button, label, legend, input, textarea, address) {
  font-family: 'Atkinson Hyperlegible Next VF', 'Adjusted Body Fallback', sans-serif;
  font-weight: 450;
  letter-spacing: 0.25px;
  color: var(--color-text-strong);

}

:where(h6, h5, h4, h3, h2, h1) {
  line-height: 1.1;
}

:where(p, li) {
  line-height: 1.5;
}