.footer {
  background-color: var(--color-bg2);
  /* background-image: url(/Paper_texture_1.webp);
  background-repeat: repeat;
  background-blend-mode: soft-light; */
}

.footer_container {
  display: flex;
  justify-content: space-between;
  row-gap: var(--space-24px);
  padding-block: var(--space-m-l);
  padding-inline: var(--space-s-m);
  @media (max-width: 768px) {
    flex-direction: column;;
  }
}

.footer_container > *, .footer_policy_container > * {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-3xs-2xs);
}

.footer_logo_and_descript {
  text-align: center;
}

.footer_logo_and_descript img {
  max-width: 156px;
}

.social_container {
  display: flex;
  align-items: center;
  gap: var(--space-12px);
  flex-direction: row;
}

.footer_policy_container {
  padding-block-start: calc(var(--space-xs-s) + var(--space-8px));
  padding-block-end: var(--space-xs-s);
  padding-inline: var(--space-s-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: var(--space-xs-s);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding-block: var(--space-m-l);
  }

  background-image: radial-gradient(circle, #000000 4px, transparent 4px);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 9.5px 8px;
}

.footer {
  view-transition-name: site-footer;
}

:root[data-view-transition] .footer {
  view-transition-name: none;
}

.social_container a {
  display: block;
  transition: var(--transition-fast);
  @media (hover: hover) {
  &:hover {
    color: var(--color-focus);
    scale: 1.05;
    transform: perspective(100px) rotateX(23deg);
  }
  }
  &:active {
    color: var(--color-focus);
  } 
}

