.tattoostyle_article {
  width: min(1024px, 100%);
  margin-block-end: var(--space-xl-2xl);
  padding-inline: var(--space-24px);
  margin-inline: auto;
  display: flex;
  gap: var(--space-m-l);
  & h2 {
    font-size: var(--fontsize-h4);
    margin-block-end: var(--space-2xs-xs);
  };
  @media (max-width: 980px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

.tattoostyle_heading_and_description {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}