#tattoostyles_main {
  width: min(1280px, 92%);
  margin-inline: auto;
}

.tattoostyle_article {
  margin-block-end: var(--space-xl-2xl);
}

.tattoostyle_heading_and_description {
  display: flex;
  align-items: center;
  gap: var(--space-s-m);
  margin-block-end: var(--space-12px);
  min-height: 2lh;
  @media (max-width: 600px) {
    display: block;
  }
}

.tattoostyle_heading_and_description h2 {
  font-size: var(--fontsize-h4);
  float: left;
  @media (max-width: 600px) {
    padding-block-start: var(--space-8px);
    padding-inline-end: var(--space-16px);
  }
}

.tattoostyle_heading_and_description p {
    /* max-width: 70ch; */
    padding-block-start: var(--space-4px);
}

