.roster {
  list-style: none;
}

.roster_item_wrapper {
  transition: var(--transition-regular);
  width: min(840px, 100%);
  margin-inline: auto;
  margin-block-end: var(--space-m-l);
  @media (hover: hover) {
  &:hover {
    transform: translateY(-4px);
    background-color: var(--color-bg-raised);
  }
  }
}

.roster_summary {
  padding-inline: var(--space-xs-s);
  padding-block: var(--space-s-m);
  display: flex;
  align-items: center;
  gap: var(--space-24px);
  cursor: pointer;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.roster_identity {
  flex: 1;
}

/* 16.7.2026 Safari supports only color & font-size on ::marker */
.roster_summary::marker {
  color: transparent;
}

.roster_summary::-webkit-details-marker {
  display: none;
}

.roster_summary:hover .roster_number span,
.roster_item[open] .roster_number span {
  background-color: var(--color-accent);
}

.roster_item {
  transition: var(--transition-regular);
}

.roster_item[open] {
  background-color: var(--color-bg-raised);
}

.roster_number {
  margin: 0;
  font-family: "Hepta Slab";
    @media (max-width: 700px) {
    display: none;
  }
}

.roster_number span {
  background-color: var(--color-stroke-weak);
  padding-inline: var(--space-4px);
  font-size: var(--fontsize-h2);
  --c: 2px;
  position: relative;
  clip-path: polygon(
    var(--c) 0,
    calc(100% - var(--c)) 0,
    100% var(--c),
    100% calc(100% - var(--c)),
    calc(100% - var(--c)) 100%,
    var(--c) 100%,
    0 calc(100% - var(--c)),
    0 var(--c)
  );
}

.roster_number span:nth-child(1) {
  margin-right: 2px;
}

.roster_styles {
  color: var(--color-text-weak);
  font-size: var(--fontsize-body);
  text-align: center;
  max-width: 30ch;
}

.roster_panel_wrapper {
  overflow: hidden;
}

.roster_panel {
  padding-inline: var(--space-xs-s);
  padding-block-end: var(--space-m-l);
  display: grid;
  gap: var(--space-m-l);
  justify-items: start;
  @media ( max-width: 800px) {
    justify-items: center;
  }
}

.roster_no_and_avatar_container {
  display: flex;
  align-items: center;
  gap: var(--space-m-l);
}

.roster_avatar {
  width: 200px;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.roster_identity {
  display: flex;
  flex-direction: column;
  gap: var(--space-4px);
  min-width: 0;
  align-items: center;
}

.preview_grid_wrapper {
  max-width: 100%;
  /* overflow-x: scroll; */
}

.preview_grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--space-8px);
}

@media (max-width: 800px) {
  .preview_grid {  
    grid-template-columns: repeat(2, 1fr);
  }
}

.preview_item {
  aspect-ratio: 1;
}

.preview_image {
  block-size: 100%;
  object-fit: cover;
}