.artist_gallery_section {
  margin-block: var(--space-xl-2xl);
  margin-inline: auto;
  width: min(1280px, 100%);
  @media (max-width: 860px) {
    width: min(512px, 100%);
  }
}

.artist_gallery_section h2 {
  font-size: var(--fontsize-h3);
  margin-block-end: var(--space-s-m);
}

.tab_input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: var(--space-s-m);
  row-gap: var(--space-2xs-xs);
}

.tab_label {
  cursor: pointer;
  font-family: 'Hepta Slab', 'Adjusted Heading Fallback', serif;
  font-size: var(--fontsize-h6);
  padding: var(--space-16px);
  min-width: 220px;
  margin-block-end: var(--space-xs-s);
  @media (362px < width < 498px) {
    min-width: 136px;
  }
  background-color: var(--color-bg-overlay);
  transition: var(--transition-slow);
  text-align: center;
  @media (hover: hover) {
    &:hover {
      background-color: var(--color-accent-hover);
    }
  }
}

.tab_input:checked + .tab_label {
  background-color: var(--color-accent);
}

.tab_panels {
  display: grid;
  width: 100%;
  flex-basis: 100%;
}

.tab_panel {
  grid-area: 1 / 1;
  width: 100%;
  margin-inline: auto;
/* inactive by default */
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-slow);
}

#tattoos_tab:checked ~ .tab_panels #tattoo_panel,
#flashdesigns_tab:checked ~ .tab_panels #flashdesign_panel {
  visibility: visible;
  opacity: 1;
}

#tattoo_panel, #flashdesign_panel {
  height: min-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  @media (max-width: 860px) {
    width: min(512px, 100%);
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  
  /* 'member that iOS ain't gonna see them, tough titty */
  column-gap: var(--space-xs-s);
  row-gap: var(--space-xs-s);
  row-rule: 4px double var(--color-stroke-weak);
  column-rule: 4px double var(--color-stroke-weak);
}