.splitflap_heading {
  margin: 0;
  padding-block: var(--space-m-l);
  view-transition-name: splitflap;
  overflow-x: hidden;
}


:root[data-view-transition] .splitflap_heading {
  view-transition-name: none;
}
