.faq_main::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: max(100%, 100dvh);
    background:   linear-gradient(hsla(143, 25%, 9%, 0.95), hsla(143, 25%, 9%, 0.95)),
  url("/Station_Platform_Ceiling.webp") center center/cover repeat-y;
  z-index: -1;
}

.section_faq {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-xl-2xl);
  /* place-items: center; */

  @media (max-width: 1440px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 820px) {
    grid-template-columns: 1fr;
    align-content: center;
  }

}

.accordion_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  & h2 {
    font-size: var(--fontsize-h4);
    margin-bottom: 0.5em;
  }
}

.directions_container {
  display: flex;
  text-align: center;
  gap: var(--space-24px);
  margin-block-end: var(--space-l-xl);
  width: fit-content;
  margin-inline: auto;
}

.directions_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  & h6 {
    max-width: 10ch;
    margin-block-end: 0.75em;
  }
}
