.scrollToTop {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s all ease-in;
  transform: translateY(var(--space-8px));
  position: fixed;
  right: calc(env(safe-area-inset-right) + var(--space-s-m));
  bottom: calc(env(safe-area-inset-bottom) + var(--space-s-m));
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollToTop.visible {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  transform: translateY(0);
  @media (hover: hover) {
    &:hover {
      transform: translateY(-2px);
      color: var(--color-secondary);
      color: var(--color-focus);
    }
  }
  &:active {
    color: var(--color-focus);
  }
}

.scrollToTop.visible svg {
  filter: drop-shadow(var(--shadow-make-icon-more-visible));
}