.landing_gallery_container {
  
}

.landing_gallery_top,
.landing_gallery_bottom {
  display: flex;
  width: 100dvw;
  overflow-x: scroll;
scrollbar-width: thin;
scrollbar-color: var(--color-secondary) var(--color-bg-raised);
}


.landing_gallery_tile {
  min-width: 280px;
  @media (max-width: 768px) {
    min-width: 100px;
  }
}