.landing_gallery_container {
  margin-block: var(--space-xl-2xl);
}

.landing_gallery_top,
.landing_gallery_bottom {
  display: flex;
  width: 100dvw;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  touch-action: pan-x, pan-y;
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) var(--color-bg-raised);
}

.landing_gallery_bottom .landing_gallery_tile:first-child {
  margin-inline-start: -80px;
}

.landing_gallery_tile {
  min-width: 280px;
  max-width: 320px;
  aspect-ratio: 0.8;
}

/* Why not reusable utlity class? Cuz LandingGallery tile uses img
as background of button due to iOS swipe issues  */

.landing_gallery_tile_image {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%);
  transition: var(--transition-fast);
}

@media (hover: hover) {
  .landing_gallery_tile:hover .landing_gallery_tile_image {
    clip-path: polygon(0 0,
        calc(100% - var(--chamfer) - 6px) 0,
        100% calc(var(--chamfer) + 6px),
        100% 100%,
        0 100%);
  }
}