.section_process {
  padding-block: var(--space-m-l);
  /* background: linear-gradient(hsla(143, 25%, 9%, 0.8), hsla(143, 25%, 9%, 0.8)),
  url("/StudioPhoto003_edited_webp.webp") center center/cover no-repeat; */
}

.process_container {
  width: min(1280px, 100%);
  margin-inline: auto;
  padding-block-start: var(--space-128px);
  padding-block-end: var(--space-128px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_heading {
  font-size: var(--fontsize-h2);
  text-align: center;
  margin-block-end: var(--space-2xl-3xl);
  padding-inline: var(--space-16px);
}

.card_stack {
  position: relative;
  width: min(560px, 90vw);
  height: clamp(240px, 35vw, 320px);
  margin-block-end: var(--space-s-m);
}

.card {
  position: absolute;
  inset: 0;
  padding-block: var(--space-l-xl);
  padding-inline: var(--space-m-l);
  text-align: center;
  background-color: var(--color-bg-overlay);
  border: 1px solid var(--color-bg-base);
  will-change: transform, filter;
  background-image: url(/Paper_texture_2.webp);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.card_number {
  font-size: var(--fontsize-h1);
  color: var(--color-stroke-strong);
}

.card_title {
  margin-block-end: var(--space-16px);
}
