.artist_details {
  display: flex;
  gap: var(--space-m-l);
  margin-inline: 0 auto;
  width: min(1024px, 100%);
  @media (max-width: 860px) {
    flex-direction: column;
    align-items: center;
  }
}


.artist_photo {
  width: min(512px, 100%);
  height: max(640px, 70vh);
  object-fit: cover;
  @media (max-width: 520px) {
    max-height: 400px;
  }
}

.artist_text {
  /* max-width: 60ch; */
  & h1 {
    font-size: var(--fontsize-h3);
  }
}

.style_label {
  font-size: var(--fontsize-h6);
  color: var(--color-text-weak);
  margin-block-end: 1em;
}

.insta_and_book_container {
  display: flex;
  gap: var(--space-24px);
  align-items: center;
  margin-block-start: var(--space-m-l);
}

.bottom_nav {
  margin-top: var(--space-m-l);
  display: flex;
  gap: var(--space-16px);
  justify-content: center;
}
