.artist_details {
  display: flex;
  gap: var(--space-m-l);
  margin-inline: auto;
  width: min(1280px, 100%);
  @media (max-width: 860px) {
    flex-direction: column;
    align-items: center;
  }
}

.artist_photo {
  width: min(512px, 100%);
  height: max(640px, 70vh);
  object-fit: cover;
  @media (max-width: 520px) {
    max-height: 400px;
  }
}

.artist_text {
  width: min(512px, 100%);
  & h1 {
    font-size: var(--fontsize-h3);
  }
}

.style_label {
  /* need block for a span */
  display: block; 
  font-size: var(--fontsize-body);
  font-weight: 500;
  color: var(--color-text-weak);
  margin-block-end: 1em;
  font-family: 'Atkinson Hyperlegible Next VF', 'Adjusted Body Fallback', sans-serif;
}

.artist_text p:first-of-type::first-letter {
  float: left;
  font-size: var(--fontsize-h2);
  line-height: 1;
  margin-block-end: -12px;
  margin-inline: 4px;
  /* padding-inline: 0.3em; */
  color: var(--color-accent-light);
  @media (max-width: 768px) {
    font-size: var(--fontsize-h1);
  }
}

.insta_and_book_container {
  margin-block-start: var(--space-m-l);
  display: flex;
  gap: var(--space-24px);
  align-items: center;
}

.insta_icon {
  display: block;
  transition: var(--transition-fast);
  @media (hover: hover) {
    &:hover {
    color: var(--color-focus);
    scale: 1.05;
    transform: perspective(150px) rotateX(22deg);
    }
  }
  &:active {
    color: var(--color-focus);
  }
}

.bottom_nav {
  margin-block: var(--space-m-l);
  display: flex;
  gap: var(--space-16px);
  justify-content: center;
  & a {
    min-width: 128px;
    text-align: center;
  }
}