.artist_section {
  width: min(1440px, 96%);
  margin-block: 24px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  justify-content: center;
}

.artist_photo {
  max-width: 500px;
  /* aspect-ratio: 0.7; */
  height: auto;
}

.artist_text {
  margin-top: 32px;
  & h1 {
    font-size: var(--fontsize-h2);
  }
}

.bottom_nav {
  margin-top: var(--space-m-l);
  display: flex;
  gap: var(--space-16px);
  justify-content: center;
}