.accordion_wrapper {
  width: min(65ch, 100%);
}

.accordion_item {
  background-color: var(--color-bg-accordion);
  padding-block: var(--space-8px);
  padding-inline: var(--space-2xs-xs);
  width: 100%;
}

.accordion_item:not(:last-child) {
  margin-block-end: var(--space-2px);
}

.accordion_summary {
  padding-block: var(--space-8px);
  padding-inline: var(--space-4px);
  display: flex;
  align-items: center;
  gap: var(--space-12px);
  cursor: pointer;
}

.accordion_summary::marker {
  content: '';
}
/* Safari marker */
.accordion_summary::-webkit-details-marker {
  display: none;
}

.accordion_question {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.accordion_marker {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.accordion_marker::after {
  content: '';
  width: var(--space-12px);
  height: var(--space-12px);
  border-radius: 50%;
  background-color: var(--color-secondary);
  transition: var(--transition-fast);
}

.accordion_item[open] .accordion_marker::after {
  background-color: var(--color-accent);
}

.accordion_answer_wrapper {
  overflow: hidden;
}

.accordion_answer {
  padding-block-start: var(--space-4px);
  padding-block-end: var(--space-8px);
  padding-inline-start: var(--space-32px);
  padding-inline-end: var(--space-12px);
}

.accordion_answer a {
  text-decoration: underline;
  transition: var(--transition-fast);
}