.accordion_wrapper {
  width: min(65ch, 100%);
}

.accordion_item {
  background-color: var(--color-bg-accordion);
  padding-block: 8px;
  padding-inline: 6px;
  width: 100%;
}

.accordion_item:not(:last-child) {
  margin-block-end: var(--space-2px);
}

.accordion_summary {
  padding-block: var(--space-8px);
  padding-inline: var(--space-12px);
  display: flex;
  align-items: center;
  gap: var(--space-4px);
  cursor: pointer;
}

.accordion_summary::marker {
  content: '';
}
/* Safari marker */
.accordion_summary::-webkit-details-marker {
  display: none;
}

.accordion_marker {
  flex: 0 0 auto;
  position: relative;
  width: 18px;
  height: 18px;
}

.accordion_marker::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  transition: background-color 0.2s ease-in;
}

.accordion_item[open] .accordion_marker::after {
  background-color: var(--color-accent);
}

.accordion_answer_wrapper {
  overflow: hidden;

  /* If padding is set on the element directly under details, 
  the behavior becomes unstable, so do not set it here */
}

.accordion_answer {
  padding-block: var(--space-8px);
  padding-inline-start: var(--space-32px);
  padding-inline-end: var(--space-12px);
}

