.section_aftercare_links {
  width: min(480px, 100%);
  margin-inline: auto;
  display: flex;
  gap: var(--space-32px);
  justify-content: center;
  margin-block: var(--space-xl-2xl);
}



.tattoo_aftercare_wrapper, .piercing_aftercare_wrapper {
  width: clamp(140px, 25vw, 240px);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
    transition: all 0.5s ease-in;
  z-index: 1;
  & p {
      font-size: var(--fontsize-h5);
      text-align: center;
  }
}

.tattoo_aftercare_wrapper {
  background-color: var(--color-accent);
}

.piercing_aftercare_wrapper {
  background-color: var(--color-secondary);
}


.tattoo_aftercare_card, .piercing_aftercare_card {
  --backdrop-offset: 6px;
  width: clamp(140px, 25vw, 240px);
  aspect-ratio: 1;
  position: relative;
  transition: all 0.5s ease-in;
  @media (hover: hover) {
  &:hover {
    transform: rotateY(180deg);
  }
  }
}

.tattoo_aftercare_backdrop, .piercing_aftercare_backdrop {
  position: absolute;
  z-index: 0;
  aspect-ratio: 1;
  inset: calc(-1 * var(--backdrop-offset));
  background-color: white;
  --c: calc(64px + var(--backdrop-offset));
}