.artist_gallery_section {
    margin-block: var(--space-xl-2xl);
}

.artist_gallery_section h2 {
  font-size: var(--fontsize-h3);
  margin-block-end: 0.5em;
}

.tab_input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* ---- Tab labels ---- */
.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-s-m);
}

.tab_label {
  cursor: pointer;
  font-family: 'Hepta Slab', 'Adjusted Heading Fallback', serif;
  font-size: var(--fontsize-h6);
  padding: var(--space-16px);
  min-width: 220px;
  background-color: var(--color-bg-raised);
  transition: all 0.4s ease-in-out;
  text-align: center;
}

/* ---- Active tab label ---- */
.tab_input:checked + .tab_label {
  /* color: var(--color-text); */
  background-color: var(--color-accent);
}

.tab_panels {
  display: grid;
  width: 100%;
  flex-basis: 100%;
}

.tab_panel {
  grid-area: 1 / 1;
  width: 100%;
  margin-inline: auto;
/* inactive by default */
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

/* ---- Active panel ---- */

#tattoos_tab:checked ~ .tab_panels #tattoo_panel,
#flashdesigns_tab:checked ~ .tab_panels #flashdesign_panel {
  visibility: visible;
  opacity: 1;
}

#tattoo_panel, #flashdesign_panel {
  height: min-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  /* grid-auto-rows: auto; */
  column-gap: var(--space-xs-s);
  row-gap: var(--space-xs-s);
  row-rule: 4px double var(--color-stroke-weak);
  column-rule: 4px double var(--color-stroke-weak);
}