.locale_switcher {
  display: flex;
  gap: var(--space-8px);
}

.locale_switcher div {
  background-color: var(--color-secondary);
  min-width: 32px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4px);
  transition: var(--transition-fast);
  text-transform: uppercase;
    transform-origin: center center;
}

.locale_switcher div.active {
  background-color: var(--color-accent);
  & span {
    font-weight: 650;
  }
}

.locale_switcher div a {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  transition: var(--transition-fast);
  font-family: 'Hepta Slab', 'Adjusted Heading Fallback', serif;
}


@media (hover: hover) {
  .locale_switcher div:hover {
    transform: perspective(60px) rotateX(25deg);
  }
}