.locale_switcher {
  display: flex;
  gap: var(--space-8px);
}

.locale_switcher div {
  background-color: var(--color-secondary);
  min-width: 32px;
  aspect-ratio: 1;
  display: flex;
  padding: var(--space-8px);
  transition: transform 0.2s ease-in-out;
  text-transform: uppercase;
}

.locale_switcher div a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

@media (hover: hover) {
  .locale_switcher div:hover {
    transform: rotateY(180deg);
  }
}