.style_gallery_container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--space-8px);
}

@media (max-width: 1080px) {
  .style_gallery_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  .style_gallery_container {
    grid-template-columns: repeat(2, 1fr);
    flex: none;
  }
}

.placeholder {
  background-color: orange;
  min-width: 100px;
  /* max-height: 500px; */
  aspect-ratio: 0.8;
}