.section-testimonials {
  margin-inline: auto;
  padding-block: var(--space-2xl-3xl);
  overflow: hidden;
  position: relative;
  background:   linear-gradient(hsla(143, 25%, 9%, 0.9), hsla(143, 25%, 9%, 0.9)),
  url("/StudioSign.webp") center center/cover no-repeat;
}

.section_heading {
  font-size: var(--fontsize-h2);
  text-align: center;
  margin-block-start: var(--space-l-xl);
  margin-block-end: var(--space-s-m);
  padding-inline: var(--space-16px);
}

.icon_swipe {
  padding: var(--space-4px);
  min-width: var(--space-xl-2xl);
  min-height: var(--space-xl-2xl);
  justify-self: center;
  position: absolute;
  top: 8%;
  @media (min-width: 800px) {
    top: 4%;
  }
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  z-index: 1;
  opacity: 0;
}

.icon_swipe.play {
  animation: swipe-shift 1s 1.8s ease-in-out 3 alternate;
}

@keyframes swipe-shift {
  0% {
    transform: translateX(-50%) rotate(180deg);
    opacity: 0;
  }
  50% {
    transform: translateX(-70%) rotate(180deg);
    opacity: 0.3;
  }
  100% {
    transform: translateX(-50%) rotate(180deg);
    opacity: 0;
  }
}

.testimonials-container {
  width: 100%;
  min-height: 400px;
  margin-inline: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

.testimonial_name {
  margin-top: var(--space-xs-s);
  color: var(--color-text-weak);
  text-align: center;
}

.testimonials_button_container {
  display: flex;
  gap: var(--space-12px);
}

.reset_button {
  font-size: var(--fontsize-body);

  @media (hover: hover) {
    &:hover {
      rotate: -4deg;
    }
  }

  &:active {
    rotate: -2deg;
    filter: brightness(1.15);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 3px var(--color-focus);
  }
}

.testimonial-card {
  background-color: var(--color-bg-overlay);
  background-image: url(/Paper_texture_1.webp);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  border: 1px solid var(--color-bg-raised);
  max-width: 500px;
  padding-block: var(--space-m-l);
  padding-inline: var(--space-s-m);
  position: absolute;
  box-shadow: 0px 2px 0px var(--color-shadow-dark);
}

.testimonial-card:nth-child(1) {
  z-index: 1;
  rotate: 5deg;
}
.testimonial-card:nth-child(2) {
  z-index: 2;
  rotate: -7deg;
}
.testimonial-card:nth-child(3) {
  z-index: 3;
  rotate: 9deg;
}
.testimonial-card:nth-child(4) {
  z-index: 4;
  rotate: -4deg;
}
.testimonial-card:nth-child(5) {
  z-index: 5;
  rotate: 12deg;
}
.testimonial-card:nth-child(6) {
  z-index: 6;
  rotate: -8deg;
}
.testimonial-card:nth-child(7) {
  z-index: 7;
  rotate: 6deg;
}