.flash_tattoo_gallery {
  margin-block: 96px;
  width: min(1440px, 96%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  /* grid-auto-rows: auto; */
  column-gap: 16px;
  row-gap: 32px;
}

.artist_image_wrapper {
  position: relative;
  background-color: var(--color-accent-3);
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --chamfer: 16px;

  @media (hover: hover) {
    &:hover {
      clip-path: polygon(
        0 0,
        calc(100% - var(--chamfer)) 0,
        100% var(--chamfer),
        100% 100%,
        0 100%
      );

      .artist_image {
        clip-path: polygon(
          0 0,
          calc(100% - var(--chamfer) - 6px) 0,
          100% calc(var(--chamfer) + 6px),
          100% 100%,
          0 100%
        );
      }
    }
  }
}

.artist_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 150ms cubic-bezier(0.4, 0, 0.2, 1);
}