.flash_tattoo_gallery {
  width: min(1280px, 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: var(--space-xs-s);
  row-gap: var(--space-xs-s);
  row-rule: 4px double var(--color-stroke-weak);
  column-rule: 4px double var(--color-stroke-weak);
}